
OscillatorBank.xcodeproj/xcuserdata/auraaudio.xcuserdatad/xcschemes/xcschememanagement.plist
OscillatorBank.xcodeproj/project.xcworkspace/xcuserdata/auraaudio.xcuserdatad/UserInterfaceState.xcuserstate
OscillatorBank.xcodeproj/xcuserdata/auraaudio.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
